@charset "utf-8";

/*
Typeasy
Author: Acris
Author URI: http://imomo.me/
Version: 1.0
*/
/*
.pagenavi{text-align:center;padding:1em 0 1.5em;}
.page-numbers{border-bottom:5px solid #ccc;padding:5px 8px 4px;margin:0 5px;}
.page-numbers:hover,.pagenavi .current{color:#D581A2;border-bottom:5px solid #D581A2;}
*/
.clear {clear:both;}

#footer_link li { float:left; width:42%; }
#ava { margin:0; position:absolute; bottom:1px; right:36px;}

.more-link { margin-top:20px; display:block;}

#header_menu li a:hover { padding: 3px; background-color: #2D96BD;border-radius: 7px;color:#fff; }

/*----------------------------------------------------------------------
 Common
----------------------------------------------------------------------*/
body { margin:0; padding:0; background:#fff;
       font-family:"Trebuchet MS",Helvetica,"Microsoft YaHei",Georgia,sans-serif;
       font-size:12px; color:#333; }
img {  border:none; vertical-align:top; }
a img { border:none; }
a, a:visited { color:#2d96bd; text-decoration:none; outline:none; }
a:hover { color:#ef3982;}
p { margin:0 0 1em 0; padding:0; line-height:210%; }
ul { list-style-type:none; margin:0 0 1em 0; padding:0; line-height:0%; }
li { margin:0; padding:0; line-height:normal; }
ol { margin:0 0 1em 17px; padding:0; }
* html ol { margin:0 0 1em 23px; padding:0; }
ol li { padding:0 0 5px 0; }
h1,h2,h3,h4,h5,form,table,input,textarea,dl,dt,dd { margin:0; padding:0; }
table { border-collapse:collapse; border:0; margin:0 0 1em 0; font-size:12px; }
td,th { padding:12px 10px 8px; border:1px solid #ccc; }
th { font-weight:normal; background:url(../images/stripe3.gif) left top; }
blockquote { margin:0 0 1em 0; padding:35px 20px 0 20px; border:1px solid #ccc; background:#fafafa url(../images/quote1.gif) no-repeat 10px 10px; }
blockquote p { margin:0 0 5px 0; }
.quote_bottom, .pre_bottom { height:30px; background:#fafafa url(../images/quote2.gif) no-repeat right ; margin-right:-10px; }
.fixed { position:fixed; }
.alignright { float:right; }
.alignleft { float:left }
.aligncenter { margin-right:auto; margin-left:auto; }
input,textarea { font-size:100%; }
textarea { overflow:auto; }
.clear { clear:both; }


#logo a { position:fixed; left:27px; top:13px; margin:0; display:block; width:141px; height:38px; font-weight:normal; font-size:11px; 
          text-indent:-9999px; background:url(../images/logo.gif) no-repeat; z-index:10; }
#header_menu { position:fixed; right:24px; top:20px; margin:0; z-index:10; }
#header_menu li { display:inline; float:left; margin:0 3px 0 0; }
#header_menu li a { color:#999; margin-left:10px; padding: 3px;background-color: #fff;border-radius: 7px; }
#header_menu li a:hover { padding: 3px; background-color: #2D96BD;border-radius: 7px;color:#fff; }
#wrapper { width:955px; margin:0 auto; }

#comment_smiles { margin:10px 0 -10px 10px; }
#smiles_list { width:230px; }
#smiles { width:220px; margin:10px 0 30px 5px; }
.wp-smiley-select { cursor:pointer; }


/*----------------------------------------------------------------------
 Left column
----------------------------------------------------------------------*/
#left_col { width:285px; float:left; position:fixed; background:url(../images/bg.png) repeat-y right top; height:100%; padding:0; z-index:9; }


#global_menu { margin:0; top:24%; right:42px; position:absolute; width:1200px; display:block; background:url(../images/title_line2.gif) no-repeat right bottom; padding:0 0 20px 0; }
#global_menu li { display:block; float:right; clear:both; position:relative; overflow:hidden; margin:0 0 10px 0; }
#global_menu li a { z-index:10; display:block; float:right; height:36px; position:relative; overflow:hidden; }


.menu_desc { margin:0 0 0 0; position:fixed; top:24%; left:0px;}
.menu_desc div { height:36px; overflow:hidden; position:absolute; background:#1384af; left:0px; top:0px; }
.menu_desc div p { z-index:10; position:absolute; right:0px; top:0px; }

.menu_desc div#active_desc { height:36px; overflow:hidden; position:absolute; background:#1384af; right:220px; z-index:10; width:100%; text-align:right; }
.menu_desc div#active_desc p { z-index:10; position:static; }


#description { position:absolute; right:0px; bottom:160px; margin:0; width:300px; text-align:right; }
#description h2 { font-size:10px; font-weight:normal; line-height:180%; display:block; width:290px; float:right; color:#555;
                  font-family:"Trebuchet MS",Helvetica,"Microsoft YaHei",Georgia,'メイリオ',Meiryo,'ＭＳ Ｐゴシック'; right:37px; position:absolute; }


#icon_rss { margin:0; position:absolute; bottom:-90px; right:44px; }
#icon_mail { margin:0; position:absolute; bottom:-90px; right:71px; }


/*----------------------------------------------------------------------
 Center
----------------------------------------------------------------------*/
#right_col { width:670px; padding:0 0 50px; float:right; }
#center_contents { width:670px; margin-left:-2px; top:25.7%; position:absolute; padding:0 0 115px 0; }


.post_title { padding:0 0 0 40px; margin:0 0 20px 0; font-weight:normal; font-size:20px; }
.date { color:#c5c5c5; font-size:11px; text-transform:uppercase; margin:0 0 20px 0; padding:0 0 0 40px;
        background:url(../images/bullet1.gif) no-repeat left; line-height:110%; font-weight:bold; }

/* Post */
.post_content { padding:0 0 0 40px; margin:0 0 100px 0; }
.post_content a { }
.post_content a.thumbnail { text-decoration:none; text-align:center; }
.highslide img,.thumbnail img,.size-full{ padding:5px;float: left; }
.highslide:hover img, .thumbnail:hover img,a .size-full:hover{ border:1px solid #38a1e5; background:#9cd1e1; }
.more-link img { padding:12px 0 0 0; display:block; float:left; border:none; background:none; }
.post_content img.centered { display:block; margin-right:auto; margin-left:auto; }
.post_content img.aligncenter { display:block; margin-right:auto; margin-left:auto; }
.post_content img.alignright { margin:4px 0 10px 20px; display:inline; }
.post_content img.alignleft { margin:4px 20px 10px 0; display:inline; }
.wp-smiley { border:none; background:none; padding:5px 0 0 0; }
.post_content ul li { background:url(../images/bullet2.gif) no-repeat left center; padding:0 0 0 1em; margin:0; line-height:210%; }
.post_content ol li { padding:0 0 0 8px; margin:0; line-height:210%; }
.post_content .download { background:url(../images/icon_download.gif) no-repeat left 3px; padding:2px 0 2px 20px; }

/
.post_meta { padding:15px 0 0 0; margin:0; font-size:10px; float:right; }
.post_meta li { display:inline; float:left; }
.post_content li.post_comment { background:url(../images/icon_pencil.gif) no-repeat left; padding:2px 0 2px 20px; margin:0 30px 0 0; }
.post_content li.post_category { background:url(../images/icon_category.gif) no-repeat left; padding:2px 0 2px 20px; }
.post_content li.post_edit { margin:0 0 0 20px; background:none; padding:2px 0 2px 0;}
.post_meta a,.post_meta a:visited { text-decoration:none; }


#similar_post { padding:30px 0; }
#similar_post h3 { font-weight:normal; font-size:12px; margin:0 0 15px -40px; padding:0 0 0 40px; background:url(../images/bullet1.gif) no-repeat left 3px; }


#return { margin:12px 0 0 0; display:inline; float:left; width:61px; height:15px; }



/*----------------------------------------------------------------------
 
----------------------------------------------------------------------*/
#archive_headline { padding:5px 0 0 0; }
#archive_headline p { font-size:18px; margin:5px 10px 30px 40px; padding:8px 0 24px 0; background:url(../images/stripe1.gif) repeat-x left bottom; line-height:100%; }

.archive_content { padding:0 0 25px 0; margin:0 10px 25px 40px; border-bottom:1px solid #ddd; }
.archive_date { color:#aaa; font-size:10px; margin:0 0 7px 0; padding:0 0 0 0; line-height:110%; font-weight:bold; }
.archive_post_title { background:url(../images/arrow1.gif) no-repeat left 7px; font-weight:normal; font-size:16px; margin:0 0 5px 0; padding:0 0 0 8px; line-height:120%; }
.archive_excerpt { font-size:11px; line-height:210%; margin:0; padding:0; }
.archive_excerpt a { color:#666; }
#archive_return { margin:25px 0 0 40px; display:block; width:61px; height:15px; }



/*----------------------------------------------------------------------

----------------------------------------------------------------------*/
#side_contents { margin:0 0 0 0; width:130px; float:right; font-size:11px; }
.side_block { margin:-5px 0 50px 0; }
.side_block ul { margin:22px 0 0 0; }
.side_block ul li { margin:0 0 22px 0; color:#999; }
.side_block ul li a, .side_block ul li a:visited { color:#777; }
.side_block ul li a:hover { color:#ef3982; }
.side_block ul li span { color:#888; }
.side_block ul ul { margin:0 0 0 0; }
.side_block ul li li { background:url(../images/bullet3.gif) no-repeat left 3px; padding:0 0 0 13px; margin:10px 0; }



/*----------------------------------------------------------------------

----------------------------------------------------------------------*/
#page_content .headline { margin:-8px 0px 0px -40px; position:relative; }
#page_content .headline2 { margin:-13px 0px 0px -40px; position:relative; }
#page_content .headline3 { margin:80px 0px 0px -40px; position:relative; }



/*----------------------------------------------------------------------
 
----------------------------------------------------------------------*/
#theme_description_single_wrapper { margin:0 0 35px 0; }
#theme_description_single { width:400px; float:right; }
#theme_description_thumbnail { float:left; }

#theme_button_single { margin:0 0 20px 0; }
#theme_button_single #theme_demo { margin:0 25px 0 85px; }

dl dt { font-weight:bold; font-size:10px; }
dl dd { margin:0 0 17px 17px; }


.theme_wrapper { margin:0 0 50px 0; }
.theme_wrapper h3 { float:left; display:inline; margin:0 0 15px 0; }
.theme_wrapper .theme_description { clear:left; float:left; width:400px; }
.theme_wrapper .theme_description p { margin:0; }
.theme_wrapper .theme_thumbnail { float:right; }



/*----------------------------------------------------------------------
 
----------------------------------------------------------------------*/
.download { padding:50px 0 70px 0; }
.download h3 { margin:0; line-height:0%; padding:0; }
.download p { margin:0 0 10px 0px; }
.download_left { float:left; width:400px; display:inline; margin:0 0 0 27px; }
.download_right { float:right; width:186px; }
.download_button { margin:35px 0 0 0; }
.download_button li { float:left; display:inline; margin:0 2px 0 0; padding:0; }
li.download_update { background:url(../images/download_update.gif) no-repeat 15px 5px; padding:2px 0 2px 62px; }
.download_image { display:block; margin:0 0 27px 0; }
.download_download { display:block; width:115px; height:45px; position:relative; text-decoration:none; margin:0 0 0 40px; z-index:1; }
.download_download:hover { color:#fff; text-decoration:none; }
.download_download span { position:absolute; right:7px; top:18px; color:#fff; }
.changelog { padding:0 0 0 0; margin:0 0 35px 0; font-size:11px; height:200px; overflow:auto; }
.changelog dt { margin:0 0 5px 0; font-weight:bold; }
.changelog dd { margin:0 0 15px 15px; line-height:140%; }



/*----------------------------------------------------------------------
 
----------------------------------------------------------------------*/
input.form_name,input.form_companyname,input.form_furigana,input.form_url,input.form_page,input.form_budget,input.form_mail,textarea.form_contents
 { border:1px solid #aaa; padding:5px; width:400px; }

.mailform textarea.form_contents { height:500px; }

.mailform { width:100%; margin:25px auto 0; }
.mailform th { width:170px; padding:0 10px; }
.mailform td { padding:10px 10px; }
.mailform td p { margin:0; }
.mailform tr#contact_confirm_button td { border:none; }

input#button_mf_goconfirm { margin:30px auto; width:140px; height:45px; overflow:hidden; background:#fff url(../images/form_confirm.gif) no-repeat;
                            border:none; cursor:pointer; display:block; }
.confirm_over { background:url(../images/form_confirm_over.gif) no-repeat; }
.confirm_out { background:url(../images/form_confirm.gif) no-repeat; }



/*----------------------------------------------------------------------
 
----------------------------------------------------------------------*/
#footer { background:url(../images/footer.png) repeat-x left top; width:100%; bottom:-200px; height:241px; position:fixed; z-index:10; }
#footer_contents { position:relative; }

#copyright { position:absolute; left:30px; top:20px; width:203px; hight:7px; font-size:10px; }
#return_top img { position:absolute; right:30px; top:14px; display:block; width:67px; height:20px; }



/*----------------------------------------------------------------------
 
----------------------------------------------------------------------*/
ul.page-numbers { padding:15px 0 0 0; background:url(../images/page_navi.gif) no-repeat left top; margin:0 18px 0 40px; height:20px; }
ul.page-numbers li { line-height:0%; display:inline; padding:0; margin:0; font-size:11px; font-family:'ＭＳ Ｐゴシック'; }
ul.page-numbers a, ul.page-numbers a:visited, ul.page-numbers a:hover, ul.page-numbers span.current,
ul.page-numbers span.pages, ul.page-numbers span.extend, ul.page-numbers span.current, ul.page-numbers span.dots
 { color:#777; padding:3px 7px 0 9px; line-height:20px; margin:0 8px 0 0; display:inline; float:left; text-align:center; border:1px solid #bbb; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
ul.page-numbers a:hover { background:#2d96bd; border:1px solid #2d96bd; color:#fff; text-decoration:none; }
ul.page-numbers span.current { background:#2d96bd; border:1px solid #2d96bd; color:#fff; }



/* ---------- clearfix hack ---------- */
.cf:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.cf { display: inline-block; }
/* exlude MacIE5 */
* html .cf { height: 1% }
.cf {display:block;}
/* end MacIE5 */