/* ------------------------------------
 * Typeasy Default Theme
 *
 * @author	Acris
 * @date	2013-05-21
 * --------------------------------- */

/* ------------------
 * gobal settings
 * --------------- */
* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #edf1f4 url(../images/bg.png) repeat-x top;
	color: #697989;
	font-size: 14px;
	line-height: 1.9;
	font-family: "Microsoft Yahei", Arial, sans-serif;
}

img {
	border: 0px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

.clearfix {
	clear: both;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #336a93;
	border-bottom: none;
}

pre,code,tt {
	font: 12px 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

code {
	margin-bottom: 20px;
}

pre,code {
	display: block;
	overflow-x: auto;
	background: #f4f4f4;
	padding: 5px 10px;
	border: 1px solid #eee;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

blockquote {
	margin: 1.5em;
	color: #666;
	font-style: italic;
}

/*code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #444; line-height: 16px; overflow: auto;
	font-family: 'andale mono','lucida console',monospace; padding: 10px; margin: 10px 0;}*/

/* Tables
-------------------------------------------------------------- */

/* Tables still need 'cellspacing="0"' in the markup. */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
}

table,td,th {
	vertical-align: middle;
}

table {
	margin-bottom: 1.4em;
	width: 100%;
}

th {
	font-weight: bold;
}

thead th {
	background: #c3d9ff;
}

th,td,caption {
	padding: 4px 10px 4px 5px;
}

tr.even td {
	background: #e5ecf9;
}

tfoot {
	font-style: italic;
}

caption {
	background: #eee;
}

fieldset {
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	border: 1px solid #ccc;
}

legend {
	font-weight: bold;
}

ul {
	list-style-type: disc;
}

.container_16 {
	margin: auto;
	width: 980px;
}

/* ------------------
 * header
 * --------------- */
#header {
	height: 109px;
	overflow: hidden;
}

#logo h1 {
	float: left;
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 107px;
	padding-right: 45px;
	background: url(../images/h1.gif) no-repeat right center;
}

#logo h1 a {
	color: #000;
	border: none;
}

#logo h1 a:hover {
	color: #000;
}

p.description {
	color: #9aa9b7;
	font-size: 12px;
	line-height: 107px;
	padding-left: 15px;
	float: left;
}

#search {
	padding-top: 31px;
	float: right;
	width: 230px;
	height: 44px;
	background: url(../images/search.png) no-repeat left bottom;
}

#search input {
	margin-top: 16px;
	margin-left: 18px;
	border: 0px;
	background: #4c5660;
	font-size: 12px;
	color: #d1dae3;
}

/* = header navigation menu */
ul#nav_menu {
	height: 71px;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	line-height: 71px;
	text-transform: uppercase;
}

#nav_box li {
	float: left;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 10px;
}

#nav_box li.current {
	padding-right: 0px;
	margin-right: 0px;
	background: url(../images/menu.png);
}

li#menuli {
	padding: 0px;
	margin: 0px;
	width: 20px;
	background: url(../images/menu.png) no-repeat right;
	float: left;
	overflow: hidden;
	text-indent: -20000px;
}

li#tqq {
	float: right;
	width: 210px;
	padding: 0px;
	padding-left: 20px;
	height: 71px;
	margin: 0px;
	background: url(../images/tqq.png);
}

li#tqq a {
	color: #fff;
}

#topper {
	margin-top: 40px;
	height: 23px;
	background: url(../images/topper.png) no-repeat bottom;
}

.m4pof {
	height: 23px;
	background: url(../images/foot.png) no-repeat top;
	overflow: hidden;
}
/* ------------------
 * content
 * --------------- */
#m4out {
	background: url(../images/center.png);
}

#content {
	float: left;
	width: 728px;
	overflow: hidden;
}

#content p {
	margin-bottom: 20px;
}

.post {
	padding-left: 30px;
	padding-right: 25px;
	padding-bottom: 10px;
}

.m4gomore {
	height: 42px;
	background: url(../images/more.png);
	margin-left: 2px;
	margin-bottom: 20px;
}

a.m4pc {
	float: left;
	padding-left: 30px;
	padding-right: 10px;
	text-align: center;
	width: 29px;
	height: 26px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: url(../images/m4pc.png);
	line-height: 26px;
	margin-left: 30px;
	margin-top: 8px;
}

a.m4pr {
	float: left;
	margin-left: 20px;
	margin-top: 8px;
	text-indent: -10000px;
	width: 106px;
	height: 26px;
	background: url(../images/m4pr.png);
}

h2.entry_title {
	margin-bottom: 0;
	font-size: 28px;
	font-weight: bold;
}

h2.entry_title a {
	border: none;
}

.post h3 {
	font-size: 16px;
}

.post h4 {
	font-size: 15px;
}

.post h5 {
	font-size: 14px;
	font-weight: bold;
}

.post h6 {
	font-size: 13px;
	font-weight: bold;
}

.entry_data {
	color: #8999a8;
	font-size: 12px;
}

.entry_data a {
	color: #8999a8;
}

.entry_data span {
	margin-right: 4px;
	padding-right: 7px;
	border-right: 1px solid #eee;
}

/* = pages nav */
.m4ip {
	padding-top: 20px;
	height: 65px;
	background: url(../images/footpage.png) no-repeat bottom;
}

ol.m4ipol {
	padding-left: 30px;
	padding-top: 28px;
}

ol.pages {
	color: #666;
	list-style: none;
	font-size: 13px;
	font-family: Georgia, sans-serif;
}

ol.pages li {
	margin: 0 8px 0 0;
	display: inline;
}

ol.pages li a {
	padding: 4px 8px;
	background: #859eb0;
	text-decoration: none;
	color: #fff;
}

ol.pages li.current a {
	background: #4e5862;
	color: #fff;
}

/* ------------------
 * comment list
 * --------------- */
#comments {
	padding-left: 30px;
	padding-right: 25px;
}

#comments p {
	margin-bottom: 10px;
}

#comments h4 {
	font-size: 14px;
	font-weight: bold;
}

h4.m4ctt {
	margin-bottom: 10px;
}

ol.comment-list,ol.comment-list ol {
	margin: 0;
	list-style: none;
}

ol.comment-list ol {
	padding-top: 10px;
}

ol.comment-list li {
	margin: 0;
	padding-bottom: 10px;
}

ol.comment-list li {
	padding: 10px 15px;
	margin-top: 10px;
	border: 1px solid #dfe6ec;
	background: #FAFAFA;
	overflow: hidden;
}

ol.comment-list li.comment-level-odd {
	background: #fff;
}

ol.comment-list li.comment-level-even {
	background: #FAFAFA;
}

ol.comment-list li.comment-by-author {
	border: 1px dashed #dfe6ec;
}

ol.comment-list li .comment-reply {
	text-align: right;
}

ol.comment-list li .comment-reply a {
	font-size: 11px;
	border: none;
	color: #aaa;
}

ol.comment-list li .comment-reply a:hover {
	color: #444;
}

.comment-meta {
	padding-bottom: 8px;
	/*border-bottom: 1px dashed #eee;*/
	color: #999;
	font-size: 11px;
}

.comment-author {
	display: block;
	font-size: 15px;
	color: #444;
}

.comment-author cite.fn {
	font-style: normal;
}

.comment-body {
	overflow: hidden;
}

img.avatar { /*display: none;*/
	float: left;
	margin: 6px 10px 0 0;
	border: 4px solid #dfe6ec;
}

.respond {
	margin-top: 20px;
}

ol.comment-list li .respond {
	border-top: 1px solid #dfe6ec;
	padding-top: 10px;
}

#comment_form {
	padding-right: 8px;
}

.respond .cancel-comment-reply {
	float: right;
	font-size: 11px;
}

.respond .cancel-comment-reply a {
	border: none;
	color: #aaa;
}

.respond .cancel-comment-reply a:hover {
	color: #444;
}

.m4rev {
	clear: both;
	padding-top: 10px;
}

.m4rev input {
	background: #fff;
	padding: 6px;
	font-size: 12px;
	border: 1px solid #dfe6ec;
	width: 250px;
}

.m4rev textarea {
	background: #fff;
	padding: 6px;
	font-size: 14px;
	border: 1px solid #dfe6ec;
	width: 400px;
	height: 150px;
	overflow: hidden;
}

input.miauthor {
	background: #fff url(../images/name.png) no-repeat right center;
}

input.mimail {
	background: #fff url(../images/email.png) no-repeat right center;
}

input.miurl {
	background: #fff url(../images/url.png) no-repeat right center;
}

input#misubmit {
	width: 100px;
	height: 33px;
	padding: 0;
	border: 0;
}

/* ------------------
 * sidebar
 * --------------- */
#sidebar {
	float: right;
	width: 250px;
	padding-right: 2px;
	position: relative;
	left: -1px;
}

.siderss {
	height: 44px;
	overflow: hidden;
	background: url(../images/rss.png) no-repeat center center;
	margin-bottom: 30px;
}

.siderss a {
	float: left;
	width: 44px;
	height: 44px;
	text-indent: -10000px;
}

a.rrss {
	margin-left: 20px;
}

a.radd {
	margin-left: 38px;
}

.widget {
	background: url(../images/widget.png) no-repeat;
	padding-bottom: 44px;
}

.widget h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 46px;
	color: #000;
	padding-left: 20px;
	background: url(../images/h3.png) no-repeat 210px 17px;
}

.widget ul {
	margin: 0;
	list-style-type: none;
}

.widget ul li {
	padding-left: 20px;
	height: 44px;
	line-height: 44px;
	background: url(../images/sideli.png);
}

.widget ul li a {
	color: #485159;
}

.m4sidco {
	padding-left: 20px;
	padding-right: 20px;
	height: 55px;
	overflow: hidden;
	font-size: 12px;
	line-height: 25px;
	padding-top: 10px;
}

.m4sidco img {
	border: 4px solid #dfe6ec;
	float: left;
}

.m4sidco span {
	padding-top: 4px;
	float: left;
	width: 150px;
}

/* ------------------
 * footer 
 * --------------- */
#footer {
	margin-top: 40px;
	background: #191f23;
	color: #647179;
	font-size: 12px;
}

#footer a {
	color: #647179;
}

#footer p {
	width: 980px;
	margin: auto;
	height: 70px;
	line-height: 70px;
	background: url(../images/m4.png) no-repeat right;
}

/* Scoll to top */
#goTopBtn {
	POSITION: fixed;
	TEXT-ALIGN: center;
	LINE-HEIGHT: 30px;
	WIDTH: 30px;
	BOTTOM: 80px;
	HEIGHT: 33px;
	FONT-SIZE: 12px;
	CURSOR: pointer;
	RIGHT: 20px;
	_position: absolute;
	_right: auto;
}