<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>me.imomo.typeasy.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>EncodeFilter</filter-name>
	<filter-class>me.imomo.typeasy.filter.EncodeFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>EncodeFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  

  <servlet>
    <description>Post Manage Servlet</description>
    <display-name>Post Manage Servlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>me.imomo.typeasy.servlet.PostServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/servlet/PostServlet</url-pattern>
  </servlet-mapping>

</web-app>