@charset "utf-8";
/* CSS Document */

.clear {clear:both;}

#footer_link li { float:left; width:42%; }
#ava { margin:0; position:absolute; bottom:1px; right:36px;}

.more-link { margin-top:20px; display:block;}

#header_menu li a:hover { padding: 3px; background-color: #2D96BD;border-radius: 7px;color:#fff; }